{% extends 'partials/base.html' %}


{% block main %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Токтогульское водохранилище</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="cf9651196a104f12b742b96252eb44a4" class="chart-container" style="width:1550px; height:700px;"></div>
    <script>
        var chart_cf9651196a104f12b742b96252eb44a4 = echarts.init(
            document.getElementById('cf9651196a104f12b742b96252eb44a4'), 'white', {renderer: 'canvas'});
        var option_cf9651196a104f12b742b96252eb44a4 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u041f\u0440\u0438\u0442\u043e\u043a \u0437\u0430 \u043c\u0435\u0436\u0432\u0435\u0433\u0435\u0442\u0430\u0446\u0438\u044e",
            "legendHoverLink": true,
            "data": [
                3895.0,
                3408.0,
                2950.0,
                2892.0,
                2891.0,
                3380.0,
                3643.0,
                3655.0,
                3162.0,
                3131.0,
                2892.0,
                2824.0,
                3227.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u041f\u0440\u0438\u0442\u043e\u043a \u0437\u0430 \u0432\u0435\u0433\u0435\u0442\u0430\u0446\u0438\u044e",
            "legendHoverLink": true,
            "data": [
                9888.0,
                8992.0,
                8827.0,
                7187.0,
                10407.0,
                12095.0,
                13383.0,
                9853.0,
                8806.0,
                8679.0,
                8762.0,
                0.0,
                9717.0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u041f\u0440\u0438\u0442\u043e\u043a \u0437\u0430 \u043c\u0435\u0436\u0432\u0435\u0433\u0435\u0442\u0430\u0446\u0438\u044e",
                "\u041f\u0440\u0438\u0442\u043e\u043a \u0437\u0430 \u0432\u0435\u0433\u0435\u0442\u0430\u0446\u0438\u044e"
            ],
            "selected": {
                "\u041f\u0440\u0438\u0442\u043e\u043a \u0437\u0430 \u043c\u0435\u0436\u0432\u0435\u0433\u0435\u0442\u0430\u0446\u0438\u044e": true,
                "\u041f\u0440\u0438\u0442\u043e\u043a \u0437\u0430 \u0432\u0435\u0433\u0435\u0442\u0430\u0446\u0438\u044e": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2010-2011",
                "2011-2012",
                "2012-2013",
                "2013-2014",
                "2014-2015",
                "2015-2016",
                "2016-2017",
                "2017-2018",
                "2018-2019",
                "2019-2020",
                "2020-2021",
                "2021-2022",
                "\u0421\u0440\u0435\u0434."
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u0422\u043e\u043a\u0442\u043e\u0433\u0443\u043b\u044c\u0441\u043a\u043e\u0435",
            "subtext": "\u043c\u043b\u043d.\u043c3",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_cf9651196a104f12b742b96252eb44a4.setOption(option_cf9651196a104f12b742b96252eb44a4);
    </script>
</body>
</html>
{% endblock main %}
