{% extends 'partials/base.html'%}

{% block main %}

<div class="row">
    <div class="container pt-1">
        <div class="row">
            <div class="1">

                <h5 class="text-center" style="font-family: Trebuchet MS;">ЕДИННАЯ ВОДОХОЗЯЙСТВЕННАЯ СИСТЕМА МОНИТОРИНГА
                    РЕЧНЫХ БАССЕЙНОВ <BR>РЕСПУБЛИКИ
                    КАЗАХСТАН "ӦZEN-M"</h5>
                <p style=" font-size:95%;  font-family: Trebuchet MS;" class="text-justify">
                    В ӦZEN-M представлены речные бассейны Казахстана и определены географическе структуры данных
                    Арало-Сырдарьинского , Балхаш-Алакольского, Ертіского, Жайық-Каспийского, Есілского,
                    Нұра-Сарысуского, Шу-Таласского и Тобол-Торғайского (в т.ч. каналы и боковые притоки) бассейнов в
                    формате GeoJSON. Веб-приложение ӦZEN-M позволяет схематично рассматривать сток основных и боковых
                    рек, а также месторасположение главных гидросооружении, в бассейнах рек на территории
                    РК, а также за ее пределами. Функционал ӦZEN-M добавлена возможность получения расстояния (длины
                    реки или
                    водного объекта) по рекам и водохозяйственным каналам от пункта «А» до пункта «Б». С помощью
                    веб-приложения ведется круглосуточный мониторинг водохозяйстенной обстановки, на основе которго
                    предоставлены многолетние, а также ежедневные данные по водохозяйтсенным объектам Респбулики
                    Казахастан.
                </p>
            </div>
        </div>
        <div>Территориально-водохозяйственные бассейны:</div>
    </div>
    <div class="col-sm-3 bg-dark text-white">
        <div class="card bg-dark text-white">
            <img src="https://icdn.lenta.ru/images/2015/04/07/20/20150407200717573/detail_bbcd2b418007f55bd6e2acfa0ca694d2.jpg"/>
            <div class="card-img-top">
                <h6 class="card-title"></h6>
                <p class="card-text">{{ linebreaks }}</p>
                <a href="{% url 'Res' %}" class="btn btn-outline-success fa fa-align-justify">АРАЛО-СЫРДАРЬИНСКИЙ
                    БАССЕЙН</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 bg-dark text-white">
        <div class="card bg-dark text-white">
            <img src="https://c1.35photo.pro/photos_series/846/846435.jpg"/>
            <div class="card-img-top">
                <h6 class="card-title"></h6>
                <p class="card-text">{{ linebreaks }}</p>
                <a href="{% url 'Res2' %}" class="btn btn-outline-success fa fa-align-justify">БАЛХАШ-АЛАКОЛЬСКИЙ БАССЕЙН</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 bg-dark text-white">
        <div class="card bg-dark text-white">
            <img src="https://sun9-43.userapi.com/impf/49AdLiqjsng_ZfUnkSc0rhS7j06M2DAPlbxrVA/8TTDoiYhsKA.jpg?size=807x583&quality=96&sign=88d021f231d431ac27614c8df1d11a5b&type=album"/>
            <div class="card-img-top">
                <h6 class="card-title"></h6>
                <p class="card-text">{{ linebreaks }}</p>
                <a href="#" class="btn btn-outline-success fa fa-align-justify">ИРТЫШСКИЙ БАССЕЙН</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 bg-dark text-white">
        <div class="card bg-dark text-white">
            <img src="https://megaribolov.ru/images/siteimage/opisanie_vodoemov/opisanie_rek/reka_Ishim/reka_Ishim_photographiya_1.jpg"/>
            <div class="card-img-top">
                <h6 class="card-title"></h6>
                <p class="card-text">{{ linebreaks }}</p>
                <a href="#" class="btn btn-outline-success fa fa-align-justify">БАССЕЙН РЕКИ ЕСИЛЬ</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 bg-dark text-white">
        <div class="card bg-dark text-white">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/71/%D0%9D%D1%83%D1%80%D0%B0.jpg"/>
            <div class="card-img-top">
                <h6 class="card-title"></h6>
                <p class="card-text">{{ linebreaks }}</p>
                <a href="#" class="btn btn-outline-success fa fa-align-justify">НУРА-САРЫСУЙСКИЙ БАССЕЙН</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 bg-dark text-white">
        <div class="card bg-dark text-white">
            <img src="https://geosfera.org/uploads/fotos/tobol.jpg"/>
            <div class="card-img-top">
                <h6 class="card-title"></h6>
                <p class="card-text">{{ linebreaks }}</p>
                <a href="#" class="btn btn-outline-success fa fa-align-justify">ТОБОЛ-ТОРГАЙСКИЙ БАССЕЙН</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 bg-dark text-white">
        <div class="card bg-dark text-white">
            <img src="https://ingeo.kz/wp-content/uploads/2015/04/14-1.jpg"/>
            <div class="card-img-top">
                <h6 class="card-title"></h6>
                <p class="card-text">{{ linebreaks }}</p>
                <a href="#" class="btn btn-outline-success fa fa-align-justify">БАССЕЙН РЕК ШУ-ТАЛАС</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 bg-dark text-white">
        <div class="card bg-dark text-white">
            <img src="https://old.qazaqtv.com/o/media/k2/items/cache/af23c1ef6c39cebc489dc0d26176f6d9_Generic.jpg"/>
            <div class="card-img-top">
                <h6 class="card-title"></h6>
                <p class="card-text">{{ linebreaks }}</p>
                <a href="#" class="btn btn-outline-success fa fa-align-justify">ЖАЙЫК-КАСПИЙСКИЙ БАССЕЙН</a>
            </div>
        </div>
    </div>


</div>
</div>
</div>

{% endblock main %}