<ul class=" d-inline-flex p-2 bd-highlight list-group bg-dark">
    <br>
    <p>

    <li><a class="list-group-item list-group-item-action list-group-item-success bg-dark text-white"
           href="{% url 'Syrdarya' %}">АРАЛО-СЫРДАРЬИНСКИЙ
        БАССЕЙН</a>


    </li>
    <li><a class="list-group-item  list-group-item-action list-group-item bg-dark text-white"
           href="{% url 'Balkash' %}">БАЛХАШ-АЛАКОЛЬСКИЙ
        БАССЕЙН</a>
    </li>
    <li><a class="list-group-item list-group-item-action list-group-item bg-dark text-white" href="{% url 'Ertis' %}">ИРТЫШСКИЙ
        БАССЕЙН</a>
    <li><a class="list-group-item list-group-item-action list-group-item bg-dark text-white" href="{% url 'Esil' %}">БАССЕЙН
        РЕКИ
        ЕСИЛЬ</a>
    </li>
    <li><a class="list-group-item list-group-item-action list-group-item bg-dark text-white" href="{% url 'Nura' %}">НУРА-САРЫСУЙСКИЙ
        БАССЕЙН</a>
    </li>
    <li><a class="list-group-item list-group-item-action list-group-item bg-dark text-white" href="{% url 'Tobol' %}">ТОБОЛ-ТОРГАЙСКИЙ
        БАССЕЙН</a>
    <li><a class="list-group-item list-group-item-action list-group-item bg-dark text-white" href="{% url 'Shu' %}">БАССЕЙН
        РЕК
        ШУ-ТАЛАС</a>
    </li>
    <li><a class="list-group-item list-group-item-action list-group-item bg-dark text-white" href="{% url 'Zhayk' %}">ЖАЙЫК-КАСПИЙСКИЙ
        БАССЕЙН</a></li>

</ul>

<ul class="list-group">


</ul>