{% extends 'partials/base.html' %}


{% block main %}
<div class="d-flex justify-content-between">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">


                <div>
                    <a href="{% url 'ozen' %}" class="btn btn-outline-success ">Открыть в Ӧzen-M</a>
                    <a href="{% url 'Res' %}" class="btn btn-outline-success">Гистограммы по водохранилищам в
                        бассейне</a>
                    <a href="{% url 'post_delete' post.pk %}" class="btn btn-outline-success">Удалить</a>
                    <a href="{% url 'index' %}" class="btn btn-outline-success">Назад</a>


                </div>
            </div>

            <img src="" class="card-img-top" alt="">

            <div class="card bg-dark text-white text-center" >
                {% if post.photo %}
                <img src="{{ post.photo.url }}" alt="" width="110">
                {% else %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/%D0%92%D0%BE%D0%B4-%D1%85%D0%BE%D0%B7_%D0%B1%D0%B0%D1%81%D1%81%D0%B5%D0%B9%D0%BD%D1%8B_%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD%D0%B0.svg/500px-%D0%92%D0%BE%D0%B4-%D1%85%D0%BE%D0%B7_%D0%B1%D0%B0%D1%81%D1%81%D0%B5%D0%B9%D0%BD%D1%8B_%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD%D0%B0.svg.png"
                     alt="" width="110">
                {% endif %}


                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|linebreaks }}</p>

            </div>
            <div class="btn-group-vertical">
                <p class="card-text">{{ post.created_at }}</p>
                <p class="card-text">{{ post.watched }}</p>


                {% if request.user.is_authenticated %}
                <form action="{% url 'add_comment' post.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'components/_form_errors.html' %}
                    {{ comment_form.text }}
                    <button class="btn btn-outline-success" type="submit">Добавить комментарий</button>
                </form>
                {% endif %}

                {% for comment in comments %}

                <div class="card mt-2">
                    <h6 class="card-header" >{{ comment.user.username }}</h6>
                    <div class="card-body">
                        <p class="card-text" >{{ comment.text }}</p>
                    </div>

                </div>

                {% endfor %}
            </div>
        </div>


    </div>
</div>
</div>

<div class="col-7">


</div>


</div>


{% endblock main %}